.layout {
    background-color: var(--primary-color);
    padding: 0.25em 0.75em;
    color: var(--primary-text-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 1.5em;
    width: 1.5em;
    padding: 0.1em;
    border: 1px solid var(--primary-text-color);
    border-radius: 0.25em;
}
.bar {
    margin-left: auto;
}